@import "variables";

html {
    background: $greyBlue;
    color: $white;
    font-family: $main;
}

.centered {
  text-align: center;
}

// Responsive Layout

.row {
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
}
.row:after {
    content: ' ';
    display: table;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
    //border: 2px solid $orange;        //--Layout Testing
}


#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 80%;
  max-width: 400px;
  height: 95%;
  left: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: $black;
  visibility: hidden;
  font-family: $title;
  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
#cd-nav ul li {
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  list-style-type: none;
}
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
#cd-nav ul.is-visible li:nth-child(1) {
  /* list items animation */
  -webkit-animation: cd-slide-in 0.2s;
  -moz-animation: cd-slide-in 0.2s;
  animation: cd-slide-in 0.2s;
}
#cd-nav ul.is-visible li:nth-child(2) {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}
#cd-nav ul.is-visible li:nth-child(3) {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}
#cd-nav ul.is-visible li:nth-child(4) {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}
#cd-nav ul.is-visible li:nth-child(5) {
  -webkit-animation: cd-slide-in 0.6s;
  -moz-animation: cd-slide-in 0.6s;
  animation: cd-slide-in 0.6s;
}
#cd-nav li a {
  display: block;
  padding: 1em;
  color: $white;
  text-decoration: none;
}
#cd-nav li:last-child a {
  border-bottom: none;
}

#cd-nav li a:hover {
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid $white;
  border-bottom: 2px solid $white;
}

.cd-nav-trigger {
  position: fixed;
  bottom: 15px;
  left: 1%;
  width: 44px;
  height: 44px;
  background: $black;
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  border-top: none;
  border-right: 2px solid $white;
  border-bottom: 2px solid $white;
}
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: $white;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger.menu-is-open {
  border: 1px solid $white;
  transform: translateY(2px);
}
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}
.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
  background: $white;
}
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

section#cover {
  border: 2px solid $black;
  background-image: url("../img/landscape_3_3_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#landAvatar {
  img {
      width: 20%;
      margin: 0;
      border: 4px solid $black;
      border-radius: 25px;
      position: absolute;
      top: 0%;
      right: 0%;
  }
  position: relative;
  text-align: center;
}

.content {
  background-color: $faded;
  padding: 5px;
}

button {
  background-color: $black;
  color: $white;
  font-family: $title;
  border: none;
  border-bottom: 4px solid $white;
  border-radius: 5px;
  font-size: 18pt;
  padding: 8px;
  transition: ease;
  cursor: pointer;
}

button:active {
  border: none;
  transform: translateY(4px);
}

.skills {
  > .blue {
    background-color: $ltBlue;
  }
  > .orange {
    background-color: $orange;
  }
  > .green {
    background-color: $green;
  }
  .skillLabel a {
    float: right;
    font-size: 85%;
    margin: 0;
    padding: 2px;
    text-decoration: none;
    color: $white;
    font-style: italic;
  }
  .skillLabel a:hover {
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid $white;
    border-bottom: 2px solid $white;
  }
  .skillLabel a:active {
    background-color: $black;
  }
}
.skill {
  margin: 2px;
  border-radius: 5px;
  padding: 6px;
}

.sketch {
  font-family: $sketch;
  padding: 5px;
  font-size: 130%;
}

#comment {
  border-bottom-right-radius: 25px;
  font-size: 16pt;
  background-color: $drkfaded;
}

@media screen and (max-device-width: 37.5em) { /*  43em        MOBILE                 */
    /*  Structure  */
    $x: 1;
    @each $size in $sizes {
        .small-#{$x} {
            width: #{$size};
        }
        $x: $x + 1;
    }

    .small-hidden {
        display: none;
    }

    html {
      font-size: 18pt;
    }

    section#cover {
      min-height: 150px;
    }

    .skillLabel a {
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid $white;
      border-bottom: 2px solid $white;
    }
}

@media screen and (min-device-width: 38em) and (max-device-width: 68.74em) { // Tablet
  section#cover {
    min-height: 350px;
  }
  /*  Structure  */
  $x: 1;
  @each $size in $sizes {
      .large-#{$x} {
          width: #{$size};
      }
      $x: $x + 1;
  }

  .large-hidden {
      display: none;
  }

  #cd-nav ul {
    bottom: 20px;

    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }

  .cd-nav-trigger {
    bottom: 20px;
  }

  .skillLabel a {
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid $white;
    border-bottom: 2px solid $white;
  }
}
@media screen and (min-device-width: 68.75em) { //Desktop

  /*  Structure  */
  $x: 1;
  @each $size in $sizes {
      .large-#{$x} {
          width: #{$size};
      }
      $x: $x + 1;
  }

  .large-hidden {
      display: none;
  }

  #cd-nav ul {
    top: 20px;

    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .cd-nav-trigger {
    top: 20px;
  }
  section#cover{
    min-height: 450px;
  }


  #welcome {
    position: absolute;
    top: 0%;
    max-width: 20%;
    border-bottom-right-radius: 25px;
    font-size: 16pt;
    background-color: $drkfaded;
  }

}
