//Imports
@import url('https://fonts.googleapis.com/css?family=Days+One|Roboto:400,700|Shadows+Into+Light');

// Fonts
$main: 'Roboto';
$title: 'Days One';
$sketch: 'Shadows Into Light';




// Colours
$greyBlue: #324e6c;
$ltBlue: #3d83cd;
$orange: #e78a00;
$green: #18a800;
$white: #fff;
$black: #000;
$faded: rgba(#000000, 0.6);
$drkfaded: rgba(#000000, 0.85);

// Layout Sizes
$cutoff: 43em;

$sizes: 8.333% 16.666% 25% 33.333% 41.666% 50% 58.333% 66.666% 75% 83.333% 91.666% 100%;
